<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.majedul.easyHospital">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hospitallogo"
        android:label="Easy Hospital"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.DrInfoInsertActivity" />
        <activity android:name=".Activity.DrInfoListActivity" />
        <activity android:name=".Activity.DrInfoUpdateDltActivity" />
        <activity android:name=".Activity.HospitalActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Singup" />

    </application>

</manifest>